<div class="text-center" style="margin-top: 100px;">
    <main class="form-signin w-100 m-auto">
            <img class="mb-4" src="../../../assets/img/logo.png" alt="image" width="84" height="69" style="border-radius: 25%;">

            <div class="form-floating">
                <input [(ngModel)]="this.username" placeholder="Identifiant" type="text" class="form-control" id="username" required>
                <label for="floatingInput">Identifiant</label>
            </div>
            <div class="form-floating">
                <input [(ngModel)]="this.password" placeholder="Mot de passe" type="password" class="form-control" id="password" required>
                <label for="floatingPassword">Mot de passe</label>
            </div>
            <a href="/register"><p class="col-md-5 mb-0 text-body-secondary float-end">Creer un compte</p></a>
            <button class="w-100 btn btn-lg btn-primary" (click)="signIn()">Se connecter</button>
            <p class="mt-5 mb-3 text-body-secondary">&copy; Vincent Vann</p>

    </main>

</div>

