<div class="text-center" style="margin-top: 100px;">
    <main class="form-signin w-100 m-auto">
            <img class="mb-4" src="../../../assets/img/logo.png" alt="" width="84" height="69" style="border-radius: 25%;">
    
            <div class="form-floating">
                <input [(ngModel)]="this.username" type="text" class="form-control" id="username" placeholder="Identifiant" required>
                <label for="floatingInput">Identifiant</label>
            </div>
            <div class="form-floating">
                <input [(ngModel)]="this.password" type="password" class="form-control" id="password" placeholder="Mot de passe" required>
                <label for="floatingPassword">Mot de passe</label>
            </div>
            <a href="/login"><p class="col-md-4 mb-0 text-body-secondary float-end">Déjà inscrit ?</p></a>
    
            <button class="w-100 btn btn-lg btn-primary" (click)="signUp()">S'enregistrer</button>
            <p class="mt-5 mb-3 text-body-secondary">&copy; Vincent Vann</p>

    </main>
</div>
