<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modifier l'utilisateur</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group mb-2">
        <label>Nom d'utilsateur</label>
        <input [(ngModel)]="username" class="form-control" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group mb-2">
        <label>Email</label>
        <input [(ngModel)]="email" class="form-control" [ngModelOptions]="{standalone: true}">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success"
      (click)="updateUser()">Modifier</button>
  </div>