<header class="p-3 mb-3 border-bottom text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <img src="../../../assets/img/logo2.png" alt="image" width="40" height="40" fill="none"
                    stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    aria-hidden="true" class="me-2" style="border-radius: 25%;" viewBox="0 0 24 24">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-secondary">Capchats</a></li>
                <li><a routerLink="/users" class="nav-link px-2 text-light">Artistes</a></li>
            </ul>


            <div ngbDropdown class="d-inline-block">
                <a class="d-block link-light text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false" id="dropdownBasic1" ngbDropdownToggle style="cursor:pointer">
                    <i class="fa fa-cog text-light" style="cursor:pointer"></i>
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)="openCurrentUserCrud()">Profile</button>
                    <hr class="dropdown-divider">
                    <button ngbDropdownItem>Déconnexion</button>
                </div>
            </div>
        </div>
    </div>
</header>